<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/seasons">Seasons List</a></li>
  <li><a href="/seasons/new">New Season</a></li>
  <li><a href="/storms">Storms List</a></li>
  <li><a href="/storms/new">New Storm</a></li>
</ul>

<h1>Seasons List:</h1>
<% @seasons.each do |season| %>
<h3><a href='seasons/<%= season.id %>'><%= season[:year] %></a></h3>
<% end %>