<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/seasons">Seasons List</a></li>
  <li><a href="/seasons/new">New Season</a></li>
  <li><a href="/storms">Storms List</a></li>
  <li><a href="/storms/new">New Storm</a></li>
</ul>

<h1>New Storm</h1>
<form action="/seasons/<%= @season.id %>/storms" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" id="storm[season_id]" name="storm[season_id]" value="<%= @season.id %>">
  <p>Enter a new storm for the <%= @season.year %> Season:</p>
  <label for='storm[name]'>Storm Name:</label>
  <input type='text' id="storm[name]" name='storm[name]'/><br>
  <label for='storm[storm_type]'>Storm Type:</label>
  <input type='text' name='storm[storm_type]'/><br>
  <label for='storm[wind_spd]'>Storm Wind Speed:</label>
  <input type="number" name="storm[wind_spd]" min="1" max="999" step="1" value="100" /><br>
  <label for="storm[landfall]">Did the storm make landfall in the US?</label>
  <select name="storm[landfall]">
    <option value='true'>Yes</option>
    <option value='false'>No</option>
  </select><br>
  <input type='submit' value="Create Storm"/>
</form>