<h1>Welcome to the Historical Hurricane Habitat</h1>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/seasons">Seasons List</a></li>
  <li><a href="/seasons/new">New Season</a></li>
  <li><a href="/storms">Storms List</a></li>
  <li><a href="/storms/new">New Storm</a></li>
</ul>